* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(43, 42, 51);
    color:rgb(240,255,255);
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
h2{
    margin:10px;
}
.parent {
    width: 10rem;
    height: 10rem;
    border: 1px solid azure;
    display: flex;
    justify-content: center;
    align-items: center;

}

.child {
    width: 5rem;
    height: 5rem;
    border: 1px solid azure;
}